#root {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100%;
    width: 100%;
}

main > aside {
    height: 100%;
    width: 160px;
    background-color: #f8f9fa;
    overflow-y: scroll;
}